h1 {
    text-align: center;
}

.error {
    color: red;
}

.container {
        
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

span{
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

label{
    font-family: 'Arial ', cursive; 
    font-weight: bold;
}